@import url(./reset.css);


.contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact::before {
    position: absolute;
    content: '';
    height: 100vh;
    width: 100vw;
    background: url(../img/bgest.jpg);
    filter: grayscale(90%) blur(7px);
    background-size: cover;
    z-index: -1;
}


.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  10vh 15vw;
    border: 1.5px solid rgba(53, 69, 87, 0.87);
    border-radius: 10px;
    background: rgba(041,056,072, 0.8);
}


h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}
h1, p {
    text-align: center;
    

}

div {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 0;
}

#mcontato {
    min-height: 15vh;
    max-height: 15vh;
    min-width: 100%;
    max-width: 200px
}

#telefone {
    appearance: text;
}